<header class="l-header">
  <div id="nav" class="header-nav">
    <div class="wrapper">
      <a href="/" class="nav-main text--semibold">
        <img src="assets/images/qeewi_logo_1x.png"
          srcset="assets/images/qeewi_logo_1x.png 1x,
                  assets/images/qeewi_logo_2x.png 2x"
          width="25" height="25" alt="Logo de l'application Qeewi"/>
        Qeewi
      </a>
    </div>
  </div>
  <div class="wrapper">
    <h1 class="title text--semibold">Qeewi</h1>
    <strong class="baseline text--thin">Commencer le développement de vos <br class="no-xs"/>projets plus rapidement</strong>
    <div class="app-visu" id="appVisu"></div>
  </div>
</header>
