.app-visu {
	display: none;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	background: white;
	background-image: url(../images/app_visualisation.png);
	@include media($tablet) { display: block; }
	@include media($desktop) { width: 900px; }
}
