// --------------------
// == Site settings
// --------------------

// = Font
// --------------------
$font-roman: 'HelveticaNeue_Roman', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue_Bold', Helvetica, Arial, sans-serif;
$font-light: 'HelveticaNeue_Light', Helvetica, Arial, sans-serif;
$font-thin: 'HelveticaNeue_Thin', Helvetica, Arial, sans-serif;
// = Colors
// --------------------

$green: #96c119;
$white: #ffffff;
$gray: 	#eef3f5;
$black: #2d2e2c;
