// --------------------
// == Site settings
// --------------------

// = Font
// --------------------

// = Colors
// --------------------

$green: #96c119;
$white: #ffffff;
$gray: 	#eef3f5;
$black: #2d2e2c;
