// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin ratio($ratio: 1, $element: div){
	position: relative;
  	&:before {
    	display: block;
    	content: "";
    	width: 100%;
    	padding-top: $ratio;
  	}
  	> #{$element} {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
}