// --------------------
// Layout/Nav
// --------------------

.l-footer {
	background: $black;
	height: 60px;
	line-height: 60px;
	color: lighten($cream, 50%);
}

.footer__copyright {
	float: left;
}
