// --------------------
// Layout/Header
// --------------------

.l-header {
	background-color: $light-green;
	background-image: url(/assets/images/background.png);
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;

	color: lighten($cream, 50%);
	text-align: center;

	padding-top: 5rem;
	&:after {
		content: '';
		background: white;
		display: none;;
		height: 5rem;
		width: 100%;
		@media (min-width: $width-tablet) { display: block; }
	}
}

.app-visu {
	position: relative;
	top: 5rem;
	display: none;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 10px 0px rgba($black, 0.1);
	@media (min-width: $width-tablet) { display: block; }
	@media (min-width: $width-desktop) { 
		width: 900px;
	}

}