// --------------------
// Layout/Nav
// --------------------

.l-nav {
	max-width: 20rem;
	width: 100%;
	height: 100%;
	@include position(fixed, 0 0 0 null);
	z-index: 100;
	@include transform(translate3d(120%, 0, 0));
	@include transition(all .2s ease-in-out);
	&:before{
		content: "";
		display: block;
		@include size(100% 100%);
		background: rgba($background-color-secondary, .8);
		@include filter(blur(10px));
	}
}