.dropzone {
	color: inherit;
	border: 1px dashed currentColor;
	opacity: .5;
	transition: all .2s ease-in-out;
}

.dropzone--active {
	color: $green;
	opacity: 1;
};

.dropzone__label {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
	font-weight: 400;
}

.dropzone__icon {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 16px;
	fill: currentColor;
}

.dropzone__instruction {
	font-size: 0.6875rem;
	font-weight: 300;
	color: inherit;
	text-align: center;
}
